.sidebar-images {
    border-radius: 50%;
    width: 50px;
}

.costum-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.roboto-font {
    font-family: 'Poppins', sans-serif;
}

body[data-sidebar=dark] .vertical-menu {
    background: #2e2e2e;
}

body[data-sidebar=dark] .navbar-brand-box {
    background: #367FA9;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.navbar-header {
    background: #3C8DBC;
}

.navbars-text {
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-user-name {
    overflow: hidden;
}

.header-profile-user {
    padding: 0px;
}

.navbar-header .dropdown.show .header-item {
    background: none;
}

.bulan-status-info {
    padding: 5px 10px;
}

.foto-slip {
    width: 100%;
    height: 100px;
}

.nama-pengirim {
    font-size: 16px;
    font-weight: bolder;
}

.nis-pengirim {
    display: block;
    font-size: 12px;
}

.info-tanggal {
    bottom: 0;
    font-size: 12px;
    position: absolute;
}

.verifikasi-info {
    padding: 5px 10px;
    cursor: default !important;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    background-color: #1CBB8C;
}

.verifikasi-info:focus {
    outline: none !important;
    background-color: #1CBB8C !important;
    box-shadow: none !important;
}

.verifikasi-info:hover {
    background-color: #1CBB8C;
}

.tolak-info {
    padding: 5px 10px;
    cursor: default !important;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    background-color: #f86565;
}

.tolak-info:focus {
    outline: none !important;
    background-color: #f86565 !important;
    box-shadow: none !important;
}

.tolak-info:hover {
    background-color: #f86565;
}

.proses-info {
    padding: 5px 10px;
    cursor: default !important;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    background-color: #6580f8;
}

.proses-info:focus {
    outline: none !important;
    background-color: #6580f8 !important;
    box-shadow: none !important;
}

.proses-info:hover {
    background-color: #6580f8;
}

.bg-main {
    background: #3C8DBC;
}

.form-control:disabled, .form-control[readonly] {
    background: #f1f1f1;
    background-color: #f1f1f1;
}

.select2-container--default .select2-selection--single {
    height: calc(1.5em + .75rem + 2px) !important;
    max-height: calc(1.5em + .75rem + 2px) !important;
  }

  .select2-container {
      height: calc(1.5em + .75rem + 2px) !important;
      max-height: calc(1.5em + .75rem + 2px) !important;
  }

  .select2-container--default .select2-selection--single {
      border: 1px solid #CED4DA !important;
      border-radius: 4px !important;
  }

  .select2-selection__rendered {
      opacity: 0.7 !important;
      font-weight: normal !important;
      color: black !important;
      font-weight: 400 !important;
  }

  .select2-selection__rendered {
      margin-top: 5px !important;
  }

  .select2-selection__arrow {
      margin-top: 5px !important;
  }

  .bg-proses {
      background: #6580f8;
  }

  .bg-terima {
      background: #1CBB8C;
  }

  .bg-tolak {
      background: #f86565;
  }

  body.lb-disable-scrolling {
    overflow: hidden;
  }
  
  .lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
  }
  
  .lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
  }
  
  .lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
  
    /* Image border */
    border: 4px solid white;
  }
  
  .lightbox a img {
    border: none;
  }
  
  .lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
  
    /* Background color behind image.
       This is visible during transitions. */
    background-color: white;
  }
  
  .lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
  }
  
  .lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/lightbox/loading.gif) no-repeat;
  }
  
  .lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  
  .lb-container > .nav {
    left: 0;
  }
  
  .lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
  }
  
  .lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
  }
  
  .lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/lightbox/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  .lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/lightbox/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  .lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lb-data {
    padding: 0 4px;
    color: #ccc;
  }
  
  .lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
  }
  
  .lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
  }
  
  .lb-data .lb-caption a {
    color: #4ae;
  }
  
  .lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
  }
  
  .lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/lightbox/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  
  .lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  .text-error {
    color: red;
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
  }

  @media only screen and (max-width: 768px) {
      .dashboard-tittle {
        font-size: 12px !important;
      }

      .nama-pengirim {
        font-size: 16px;
        display: block;
        font-weight: bolder;
    }

    .nis-pengirim {
      display: block;
      font-size: 12px;
    }

    .info-tanggal {
      display: block;
      padding-bottom: 20px;
      position: relative;
  }

  .flex-daftarsiswa {
    flex-direction: column !important;
    align-items: flex-start;
  }
}

.flex-daftarsiswa {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;

  align-items: flex-start;
}