
  .bg {
    /* background: url("https://i.pinimg.com/originals/93/b9/ed/93b9ed4f719c8c91355d4a55f090ea5d.jpg") no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }

    .card-handle {
        width: 100% !important;
        /* padding-top: 0px !important; */
      }

      .container_form_login {
        padding: 10px 10px !important;
    }
  }

  .logo-login {
      width: 130px;
      height: 120px;
  }

  .costum-center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .deskripsi-login {
    font-size: 11px;
  }

  .card-handle {
    width: 33%;
    padding-top: 80px;
  }

  .card_costum_login {
    border: 1px solid #ebebeb;
    background: white;
    border-radius: 5px;
    margin-top: 50%;
    opacity: 0.95;
  }

  .container_form_login {
      padding: 20px 20px;
  }

  .logo_login {
    width: 50%;
    z-index: 2;
    width: 100px;
    position: absolute;
    background: black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_logo_login {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .divider_login {
    border-top: 1px solid #ebebeb; 
    margin-top: 10px !important;
  }

  .btn_login_costum {
      width: 100%;
      padding: 5px 15px;
      background: #4764E6;
      font-weight: bolder;
      border-radius: 20px;
      color: white;
      border: 1px solid #4764E6;
  }

  .btn_login_costum:hover {
    background: white;
    color: black;
}

  .btn_register_red_costum {
    display: inline-block;
    text-align: center;
    font: 400 13.3333px Arial;
    width: 100%;
    padding: 10px 15px;
    background: #c4cefa;
    margin-top: 20px;
    border: 1px solid #c4cefa;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
  }

  .btn_register_red_costum:hover {
    background: #4764E6;
    color: #ebebeb;
  }

  
.sidenav {
  height: 100%;
  width: 5110;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-side-panel {
  display: none;
}

.panel-wrapper-list {
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

@media (max-width: 767.98px) {
.sidebar {
    top: 50px;
}
}

.navbar-brand {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}


.create_mail {
  float: right;
  margin-right: 20px;
}

.btn-costum-detail {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.footer_user_panel {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  margin-left: 100px;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  color: #4764E6;
  padding-top: 20px;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  /* font-family: 'Nunito Sans', sans-serif; */
}

.sidebar .nav-link {
  font-size: 15px;
}

.container_input_surat {
  padding: 0px 50px;
}
